.status__numbers {
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    top: 20px;
    color: var(--text-main);
    font-family: 'Noto Sans', sans-serif;
    font-size: 26px;
}

.status__numbers:hover {
    cursor: pointer;
}

.status__number .status__number--selected {
    color: var(--btn-background);
}
