.game {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.game__board {
    font-family: 'Noto Sans', sans-serif;
    font-size: 26px;
    margin: 30px 0;
    border: 2px solid var(--color-grey);
    border-collapse: collapse;
}

.game__row:nth-child(3n) {
    border-bottom: 2px solid var(--color-grey);
}

.game__cell {
    border: 1px solid var(--color-grey-light);
    padding: 0 14px;
    color: transparent;
    cursor: pointer;
}

.game__cell.game__cell--filled {
    color: var(--text-main);
}

.game__cell.game__cell--userfilled {
    color: var(--color-grey-light);
}

.game__cell.game__cell--selected {
    color: var(--background-color);
    background-color: var(--background-color);
}

.game__cell.game__cell--filled.game__cell--selected {
    color: var(--text-main);
    background-color: var(--background-color);
}

.game__cell.game__cell--userfilled.game__cell--selected {
    color: var(--color-grey-light);
    background-color: var(--background-color);
}

.game__cell.game__cell--highlightselected {
    color: var(--background-color);
    background-color: var(--background-color);
}

.game__cell.game__cell--filled.game__cell--highlightselected {
    color: var(--text-main);
    background-color: var(--background-color);
}

.game__cell.game__cell--userfilled.game__cell--highlightselected {
    color: var(--color-grey-light);
    background-color: var(--background-color);
}

.game__cell:nth-child(3n) {
    border-right: 2px solid var(--color-grey);
}

.game__cell.red {
    color: var(--color-red) !important;
}

.row__selected {
    color: var(--background-color-light);
    background-color: var(--background-color-light);
}

.same_num {
    background-color: var(--background-color);
}

@media screen and (max-width: 768px) {
    .game__cell {
        padding: 0 12px;
    }
}


